<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>K-Food Recipe - Register</title>

  <!-- Custom fonts for this template-->
  <link href="/css/allmin.css" rel="stylesheet" type="text/css">
  <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-password-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>


            <!-- Email Verification Form -->
            <form id="verifyEmailForm" action="/members/sendmail" method="GET" >
              <div class="form-group">
                  <input type="text" class="form-control form-control-user" name="email" placeholder="Email" required>
              </div>


              <button type="button" class="btn btn-primary btn-user btn-block" onclick="verifyEmail()">
                Verify Email
              </button>
            </form>

            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

            <script>
              function verifyEmail() {
                  var email = $('input[name="email"]').val();

                  $.ajax({
                      type: 'GET',
                      url: '/members/sendmail',
                      data: { email: email },
                      success: function (data) {

                          //밑에 hidden으로 넣은 값들
                          $('input[name="authString"]').val(data);
                          $('input[name="emailAddress"]').val(email);


                          // You can update the UI or perform other actions here
                           alert('Email has been sent successfully.');
                      },
                      error: function (error) {
                          // Handle the error response if needed
                          console.error('Error:', error);
                          alert('Error sending email. Please enter correct email format.');
                      }
                  });
              }
            </script>
            <br>


            <form class="user" action="/members/create" method="POST" th:object="${memberDTO}">
              <!-- 이하 생략 -->

              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" th:field="*{userId}" placeholder="ID" required>
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control form-control-user" th:field="*{realName}" placeholder="Name.. ex) KimSunJae" required>
                </div>
              </div>

              <div class="form-group">
                <input type="text" class="form-control form-control-user" th:field="*{phoneNumber}" placeholder="Phone Number.. ex) 010-1234-5678" required>
              </div>

              <div class="form-group row">
                <div class="col-sm-4 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" th:field="*{authVerify}" placeholder="Authentication text" required>
                </div>
              </div>

              <input type="hidden" th:field="*{emailAddress}" value="">
              <input type="hidden" th:field="*{authString}" value="">

              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="password" class="form-control form-control-user" th:field="*{password}" placeholder="Password" required>
                </div>
                <div class="col-sm-6">
                  <input type="password" class="form-control form-control-user" th:field="*{passwordConfirm}" placeholder="Repeat Password" required>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-user btn-block">
                Register Account
              </button>
            </form>

            <script th:inline="javascript">
            var errorMessage = [[${error}]];
            if (errorMessage) {
              alert(errorMessage);
            }
            </script>

            <hr>
            <div class="text-center">
              <a class="small" href="/login">Already have an account? Login!</a>
            </div>
            <div class="text-center">
              <a class="small" href="/">Go Main!</a>
            </div>
            <div class="text-center">
              <a class="small">Image by vectorjuice on Freepik</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

</body>

</html>